		<div class="jumbotron text-center">
			<div>
				<h1>Supercool chat made with NodeJS</h1>
			</div>
			<div>
				<h3 ng-if="!main.loggedIn">Go ahead and sign up or log in!<h3><br>
				<h3 ng-if="main.loggedIn">Now you can chat with people!<h3><br>
				<div class="container">
					<a ng-if="!main.loggedIn" href="/login" class="btn btn-success btn-lg btn-block">Login!</a><br>
					<a ng-if="!main.loggedIn" href="/sign" class="btn btn-primary btn-lg btn-block">Sign UP!</a>
					<a ng-if="main.loggedIn" href="/chat" class="btn btn-primary btn-lg btn-block">Join chat NOW!</a>
				</div>
				
			</div>
		</div>



